@tailwind base;
@tailwind components;
@tailwind utilities;

.font-raleway {
  font-family: "Raleway", sans-serif;
}

.font-work-sans {
  font-family: "Work Sans", sans-serif;
}

.font-rancho {
  font-family: "Rancho", cursive;
}

.font-inter {
  font-family: "Inter", sans-serif;
}

.active {
  background: #328EFF26;
  border: 2px solid #328EFF;
  border-radius: 5px;
  padding: 5px 8px;
  color: #328EFF;
  font-weight: 600;
}

.hh:hover {
  transform: scale(1.05);
  cursor: pointer;

}

.zoom:hover {
  transform: scale(0.5);
  transition: transform 2s;
  cursor: pointer;
}

/* 
.dark { */
/* Styles for dark mode */
/* background-color: #1f1f1f;
  color: #ffffff;
} */

/* #app { height: 100% }
html, */
/* body {
  position: relative;
  height: 100%;
} */

/* body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
} */

/* .swiper {
  width: 100%;
  height: 100%;
  background: #000;
}

.swiper-slide {
  font-size: 18px;
  color: #fff;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 40px 60px;
}

.parallax-bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 130%;
  height: 100%;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
}

.swiper-slide .title {
  font-size: 41px;
  font-weight: 300;
}

.swiper-slide .subtitle {
  font-size: 21px;
}

.swiper-slide .text {
  font-size: 14px;
  max-width: 400px;
  line-height: 1.3;
} */